<h2 class="mt-8">Eliminar pregunta</h2>

<h3>Busca el ID de la pregunta que deseas eliminar</h3>
<mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngFor="let pregunta of preguntasFiltradas" [value]="pregunta">
    {{ pregunta.pregunta }}
  </mat-option>
</mat-autocomplete>
<mat-form-field appearance="fill">
  <input
    type="text"
    placeholder="Elige la pregunta"
    aria-label="Number"
    matInput
    [formControl]="preguntaSeleccionadaEliminar"
    [matAutocomplete]="auto"
    [value]="preguntaSeleccionadaEliminar.value?.pregunta || ''"
    (input)="filtrarPreguntas(preguntaSeleccionadaEliminar.value)"
  />
</mat-form-field>

<p *ngIf="preguntaSeleccionadaEliminar.value?.id_pregunta">
  ID: {{ preguntaSeleccionadaEliminar.value?.id_pregunta }}
</p>

<h3>Confirma el ID de la pregunta:</h3>

<mat-form-field>
  <mat-label>Confirmar ID</mat-label>
  <input
    [(ngModel)]="idPregunta"
    name="pregunta"
    matInput
    placeholder="Confirmar ID"
    type="text"
    maxlength="255"
  />
</mat-form-field>

<p>
  <button mat-raised-button color="primary" (click)="eliminarPregunta()">
    Eliminar pregunta
  </button>
</p>

<h3 class="text-blue-800">{{ mensajeEliminar }}</h3>
