body {
  margin: auto;
  position: absolute;
  left: 40pt;
  top: 140pt;
}

#respuestasEnun {
  display: flex;
  gap: 30pt;
}

mat-button-toggle {

  width: 80%;
}

h2 {
  font-weight: bold;
  margin-top: 20pt;
  margin-bottom: 20pt;
}

h3 {
  width: 100%;
  font-weight: bold;
  margin-top: 20pt;
  margin-bottom: 20pt;
}

#nota {
  color: rgb(168, 0, 0);
}

#preguntaseliminar, #preguntasmodificar {
  border: solid black 1px;
  width: 80%;
  padding: 10pt;
  border-radius: 5pt;
  background-color: white;
}

.resultado {
  color: darkblue;
}

@media (min-width: 426px) {
  #router {
    margin: 50pt;
    padding: 50pt;
  }
}

@media (max-width: 425px) {
  body {
    position: absolute;
    top: 300px;
    text-align: center;
    width: 80%;
    box-sizing: border-box;
  }

  #router {
    position: absolute;
    top: 600px;
  }

  body * {
    max-width: fit-content;
  }

  mat-button-toggle-group {
    border: solid black 2px;
    padding: 10pt;
    display: flex;
    flex-direction: column;
    gap: 20pt;
    justify-content: center !important;
    align-content: center !important;
    align-items: center !important;
    text-align: center !important;
    align-self: center !important;
    margin: auto;
    width: 100%;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75) !important;
    background: radial-gradient(circle at center, #b6e690, #84b058 75%),
    linear-gradient(to right, #84b058, #b6e690, #84b058),
    linear-gradient(to bottom, #84b058, #b6e690, #84b058);
    position: relative;
    right: 10pt;

  }



  mat-button-toggle {
    background: #a23131 !important;
    color: white;
    margin: 0;
    padding: 1pt;
    width: fit-content;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75) !important;

  }

  #mat-button-toggle-2 {
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
  }

  #mat-button-toggle-3 {
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
  }



}
