<main class="flex flex-col md:flex-row justify-around mx-4 md:mx-0 mt-4">
  <section>
    <h2 class="text-center">Configura tu examen</h2>
    <form [formGroup]="form" (ngSubmit)="devolverpreguntas()">
      <h3 class="font-bold my-5">Temas</h3>
      <ng-container *ngIf="themesList; else loading">
        <mat-form-field>
          <mat-label>Temas</mat-label>

          <mat-select formControlName="temas" multiple>
            <mat-option *ngFor="let tema of themesList" [value]="tema.tema">{{
              tema.tema
            }}</mat-option>
          </mat-select>

          <mat-error *ngIf="temas.errors?.['required']">
            Este campo es obligatorio
          </mat-error>
        </mat-form-field>
      </ng-container>

      <ul *ngIf="temas.value?.length">
        <strong>Temas seleccionados</strong>
        <li *ngFor="let tema of temas.value">
          <strong>{{ tema }}</strong>
        </li>
      </ul>

      <h3 class="font-bold my-5">Dificultad</h3>
      <mat-radio-group formControlName="dificultad">
        <mat-radio-button
          *ngFor="let dificultad of difficulties"
          [value]="dificultad"
        >
          {{ dificultad }}
        </mat-radio-button>
      </mat-radio-group>
      <mat-error
        class="ml-3 text-xs"
        *ngIf="dificultad?.errors?.['required'] && submitted"
      >
        Este campo es obligatorio
      </mat-error>

      <h3 class="font-bold my-5">Número de preguntas</h3>
      <mat-form-field>
        <mat-label>Nº Preguntas</mat-label>
        <input
          formControlName="numeroPreguntas"
          matInput
          placeholder="Máximo 100 preguntas"
          type="number"
          min="1"
          max="100"
        />

        <mat-error *ngIf="numeroPreguntas?.errors?.['required']">
          Este campo es obligatorio
        </mat-error>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        class="w-full mt-2 mb-6"
      >
        Generar examen
      </button>
    </form>
  </section>

  <section *ngIf="examenGenerado">
    <app-examen-generado [preguntas]="preguntas"></app-examen-generado>
  </section>

  <section>
    <h2 class="text-center">Historial de examenes</h2>

    <ng-container *ngIf="resultadosExamenes.length; else noResults">
      <ol class="relative flex flex-col align-middle">
        <li *ngFor="let resultado of resultadosExamenes">
          Preguntas: <strong>{{ resultado.totalPreguntas }}</strong> ||
          Aciertos:
          <strong>{{ resultado.respuestasCorrectas }}</strong>
          || Puntuacion sobre 10:
          <strong
            [class.failed]="!resultado.passed"
            [class.passed]="resultado.passed"
          >
            {{
              (resultado.respuestasCorrectas / resultado.totalPreguntas) * 10
                | number : "1.2-2"
            }}
          </strong>
        </li>

        <button
          color="warn"
          class="w-1/2 mx-auto mt-4"
          mat-raised-button
          (click)="cleanHistory()"
        >
          Borrar historial
        </button>
      </ol>
    </ng-container>
  </section>
</main>

<div *ngIf="this.form.valid && examenGenerado" id="Download">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>save_alt</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="descargarRespuestas()">
      <span class="btn">Descargar hoja de respuestas</span>
    </button>
    <button mat-menu-item (click)="descargarPreguntas()">
      <span class="btn">Descargar examen</span>
    </button>
  </mat-menu>
</div>

<ng-template #noResults>
  <p class="bg-white p-8 rounded shadow mt-4 md:mt-0">
    Aquí verás los resultados de tus exámenes completados
  </p>
</ng-template>

<ng-template #loading>
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</ng-template>
