<main class="flex flex-col md:flex-row justify-around mx-4 md:mx-0 mt-4">
  <section id="formulario">
    <h2 class="text-center">Configura tu examen</h2>
    <form
      [formGroup]="form"
      (ngSubmit)="
        devolverpreguntas(); this.examenGenerado = true; this.show = false
      "
    >
      <h3>Temas</h3>
      <ng-container *ngIf="themesList$ | async as lt; else loading">
        <mat-form-field>
          <mat-label>Temas</mat-label>

          <mat-select formControlName="temas" multiple>
            <mat-option *ngFor="let tema of lt" [value]="tema.tema">{{
              tema.tema
            }}</mat-option>
          </mat-select>

          <mat-error
            *ngIf="form.get('temas')?.errors?.['required'] && submitted"
          >
            Este campo es obligatorio
          </mat-error>
        </mat-form-field>
      </ng-container>

      <ng-template #loading>
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>

        <div class="text-red-700 pt-8">
          <strong
            >Nota: la carga inicial puede tardar hasta un minuto mientras se
            enciende el servidor</strong
          >
        </div>
      </ng-template>

      <ul *ngIf="form.get('temas')?.value?.length! > 0">
        <strong>Temas seleccionados</strong>
        <li *ngFor="let tema of form.get('temas')?.value">
          <strong>{{ tema }}</strong>
        </li>
      </ul>

      <h3>Dificultad</h3>
      <mat-radio-group formControlName="dificultad">
        <mat-radio-button
          *ngFor="let dificultad of difficulties"
          [value]="dificultad"
        >
          {{ dificultad }}
        </mat-radio-button>
      </mat-radio-group>

      <h3>Número de preguntas</h3>
      <mat-form-field>
        <mat-label>Preguntas</mat-label>
        <input
          formControlName="numeroPreguntas"
          matInput
          placeholder="Máximo 100 preguntas"
          type="number"
          min="1"
          max="100"
        />

        <mat-error
          *ngIf="form.get('numeroPreguntas')?.errors?.['required'] && submitted"
        >
          Este campo es obligatorio
        </mat-error>
      </mat-form-field>

      <p>
        <button mat-raised-button color="primary" type="submit">
          Generar examen
        </button>
      </p>
    </form>
  </section>

  <section aria-label="examen" *ngIf="examenGenerado">
    <div>
      <h2 class="text-center">Tu examen</h2>
      <div class="grid-container">
        <div *ngFor="let pregunta of preguntas; let i = index">
          <p>
            <strong>{{ i + 1 }}. {{ pregunta.pregunta }}</strong>
          </p>
          <mat-radio-group
            [name]="'pregunta' + i"
            [(ngModel)]="respuestasUsuario[i]"
            [disabled]="show"
          >
            <div *ngFor="let respuesta of pregunta.respuestas">
              <p>
                <mat-radio-button [value]="respuesta.respuesta">
                  {{ respuesta.respuesta }}
                  <span
                    *ngIf="show"
                    [ngStyle]="{
                      color: respuesta.es_correcta === 'SI' ? 'green' : 'red'
                    }"
                  >
                    - {{ respuesta.es_correcta }}
                  </span>
                </mat-radio-button>
              </p>
            </div>
          </mat-radio-group>
        </div>
      </div>
    </div>

    <p id="comprobarEscritorio">
      <button
        class="comprobarbtn"
        id="comprobarbtnD"
        mat-raised-button
        color="primary"
        (click)="contarRespuestasCorrectasEscritorio(); show = true"
      >
        Comprobar respuestas
      </button>
    </p>

    <p id="comprobarMobile">
      <button
        class="comprobarbtn"
        id="comprobarbtnD"
        mat-raised-button
        color="primary"
        (click)="contarRespuestasCorrectasMobile(); show = true"
      >
        Comprobar respuestas
      </button>
    </p>
  </section>

  <section aria-label="puntuación">
    <div id="actual" *ngIf="show">
      <h2 class="text-center">Puntuación de este examen</h2>
      <h4>
        Respuestas correctas: {{ respuestasCorrectas }}/{{ preguntas.length }}
      </h4>
    </div>

    <h2 class="text-center">Historial de examenes</h2>

    <ol>
      <li *ngFor="let resultado of resultadosExamenes">
        Preguntas: {{ resultado.totalPreguntas }} || Aciertos:
        {{ resultado.respuestasCorrectas }} || Puntuacion:
        <strong
          [ngStyle]="{
            color:
              (resultado.respuestasCorrectas / resultado.totalPreguntas) * 10 <
              5
                ? 'red'
                : 'green'
          }"
        >
          {{
            (resultado.respuestasCorrectas / resultado.totalPreguntas) * 10
              | number : "1.2-2"
          }}
        </strong>
      </li>
    </ol>
  </section>
</main>

<div *ngIf="this.form.valid && examenGenerado" id="Download">
  <button mat-icon-button [matMenuTriggerFor]="menu" id="mi-menu-unico">
    <mat-icon>save_alt</mat-icon>
  </button>
  <mat-menu #menu="matMenu" id="menu">
    <button mat-menu-item (click)="descargarRespuestas()">
      <span class="btn">Descargar hoja de respuestas</span>
    </button>
    <button mat-menu-item (click)="descargarPreguntas()">
      <span class="btn">Descargar examen</span>
    </button>
  </mat-menu>
</div>
