.checkBtn {
  background-color: yellow;
  text-align: center;
  display: block;
  color: black;
  margin: auto;
  margin-bottom: 20pt;
}

#Download button {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20pt;
  background: #a23131;
  overflow: hidden;
  color: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

h3 {
  font-weight: bold;
  margin: 20px 0;
}

ul,
li {
  margin: 20px;
  list-style: disc;
}

.botonDescargar {
  border-radius: 30pt;
  padding-top: 15pt;
  padding-bottom: 15pt;
  padding-right: 30pt;
  background: #a23131 !important;
  color: white !important;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.mat-mdc-menu-item button {
  border-radius: 2pt;
  background: #a23131;
  color: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  margin: 0;
  padding: 0;
}

#actual {
  color: rgb(110, 0, 110);
  background-color: white;
  border: solid black 1px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  padding: 20pt;
  border-radius: 10pt;
  margin-bottom: 20pt;
}

@media (max-width: 835px) {
  mat-radio-group {
    display: flex;
    flex-direction: column;
  }
}
