.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#cuadro {
  width: 40%;
  margin: auto;
  background:
  radial-gradient(circle at center, #b6e690, #84b058 75%),
  linear-gradient(to right, #84b058, #b6e690, #84b058),
  linear-gradient(to bottom, #84b058, #b6e690, #84b058);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  border-radius: 10px;
  border: solid black 2px;
  padding: 40pt;
}



#menu {

  display: flex;
  gap: 20pt;
}


button {

  background: #a23131 !important;
  color: white !important;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75) !important;
  margin: 10pt;



  }

  @media (max-width: 1081px) {

    button {

      padding: 25pt;

    }

    #cuadro {


      width: 60%;

    }

    @media (max-width: 500px) {


      button {

        padding: 35pt;
      }


    }



  }
