<h2>Agregar pregunta</h2>

<h3>Selecciona el tema de la pregunta</h3>

<mat-form-field>
  <mat-label>Temas</mat-label>
  <mat-select [formControl]="temas">
    <mat-option *ngFor="let tema of themesList" [value]="tema">{{
      tema.tema
    }}</mat-option>
  </mat-select>
</mat-form-field>

<h3>Selecciona la dificultad</h3>
<mat-radio-group
  [(ngModel)]="dificultadSeleccionadaAgregar"
  name="dificultadSeleccionadaAgregar"
>
  <mat-radio-button
    *ngFor="let dificultad of difficulties"
    [value]="dificultad"
  >
    {{ dificultad }}
  </mat-radio-button>
</mat-radio-group>

<div>
  La dificultad seleccionada es:
  <strong>{{ dificultadSeleccionadaAgregar }}</strong>
</div>

<h3>Introduce la pregunta</h3>
<mat-form-field>
  <mat-label>Enunciado Pregunta</mat-label>
  <input
    [(ngModel)]="enunciado"
    name="enunciado"
    matInput
    placeholder="Enunciado Pregunta"
    type="text"
    maxlength="255"
  />
</mat-form-field>

<div>
  <h3>Introduce las respuestas y marca la correcta</h3>

  <div class="flex">
    <mat-radio-button (click)="setRespuestaCorrecta('1')"></mat-radio-button>
    <mat-form-field>
      <mat-label>Respuesta 1</mat-label>
      <input
        [(ngModel)]="respuesta1"
        name="respuesta1"
        matInput
        placeholder="Respuesta 1"
        type="text"
        maxlength="255"
      />
    </mat-form-field>
  </div>

  <div class="flex">
    <mat-radio-button (click)="setRespuestaCorrecta('2')"></mat-radio-button>
    <mat-form-field>
      <mat-label>Respuesta 2</mat-label>
      <input
        [(ngModel)]="respuesta2"
        name="respuesta2"
        matInput
        placeholder="Respuesta 2"
        type="text"
        maxlength="255"
      />
    </mat-form-field>
  </div>

  <div class="flex">
    <mat-radio-button (click)="setRespuestaCorrecta('3')"></mat-radio-button>
    <mat-form-field>
      <mat-label>Respuesta 3</mat-label>
      <input
        [(ngModel)]="respuesta3"
        name="respuesta3"
        matInput
        placeholder="Respuesta 3"
        type="text"
        maxlength="255"
      />
    </mat-form-field>
  </div>

  <div class="flex">
    <mat-radio-button (click)="setRespuestaCorrecta('4')"></mat-radio-button>
    <mat-form-field>
      <mat-label>Respuesta 4</mat-label>
      <input
        [(ngModel)]="respuesta4"
        name="respuesta4"
        matInput
        placeholder="Respuesta 4"
        type="text"
        maxlength="255"
      />
    </mat-form-field>
  </div>
</div>

<button mat-raised-button color="primary" (click)="agregarPregunta()">
  Agregar pregunta
</button>

<h3 class="text-blue-800">{{ mensajeAgregar }}</h3>
<h3 class="text-blue-800">{{ mensajeAgregarRespuestas }}</h3>
