body {
  margin: auto;
  position: absolute;
  left: 40pt;
  top: 140pt;
}

#respuestasEnun {
  display: flex;
  gap: 30pt;
}

h2 {
  font-weight: bold;
  margin-top: 20pt;
  margin-bottom: 20pt;
}

h3 {
  width: 100%;
  font-weight: bold;
  margin-top: 20pt;
  margin-bottom: 20pt;
}

#preguntaseliminar,
#preguntasmodificar {
  border: solid black 1px;
  width: 80%;
  padding: 10pt;
  border-radius: 5pt;
  background-color: white;
}

.resultado {
  color: darkblue;
}
